@model Job
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/stylesMyPage.css"/>
<style>
#welcome{
    color: black;
    text-decoration-color: black;
}   
* {
    color: black;
}
</style>
<body>
<div class='container-fluid'>
        <div class='row'>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Forward Dojo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="Dashboard">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="MyPage">My Profile</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>




    

     <div class='row justify-content-between'>

            <div class="col"></div>
            <div class="col-10">
                <h1 id="welcome">Welcome @ViewBag.theUser
                <span><a href="/Dashboard"><button type="button" class="btn btn-success">Back</button></a></span>
                </h1>
                <h2 id="welcome">Company: @ViewBag.company</h2>
                <h2 id="welcome">Position: @ViewBag.position</h2>
                <h2 id="welcome">Job Description: @ViewBag.description</h2>
                <h2 id="welcome">Company URL: <a href=" @ViewBag.url"> @ViewBag.url </a></h2>
                <h2 id="welcome">Date Posted: @ViewBag.date</h2>


                <!-- <h2 id="welcome">Company: @ViewBag.</h2>
                <h2 id="welcome">Company: @ViewBag.</h2> -->
                <form asp-action="addJob" asp-controller="Home" method="POST">
                    <input type="hidden" asp-for="epoch" name="epoch" value=@ViewBag.epoch/>
                    <input type="hidden" asp-for="date" name="date" value=@ViewBag.date/>
                    <input type="hidden" asp-for="company" name="company" value=@ViewBag.company/>
                    <input type="hidden" asp-for="position" name="position" value=@ViewBag.position/>
                    <input type="hidden" asp-for="description" name="description" value=@ViewBag.description/>
                    <input type="hidden" asp-for="url" name="url" value=@ViewBag.url> 
                    <input type="submit" class="btn btn-warning" value="Add Job">
                </form>


            </div>
            <div class="col"></div>

    </div>
</div>
</body>